* {
	al:				#303c48;
	bg:				#282c34;
	se:				#BA68C8ff;
	fg:				#979eab;
	ac:				#6272a4;
	red:			#EC7875ff;
	green:		#61C766ff;
	yellow:  	#FDD835ff;
	blue:		  #42A5F5ff;
	purple: 	#BA68C8ff;
  cyan: 		#9aedfe;
	magenta:	#ff92d0;
}
